.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  flex-grow: 1;
  padding-top: 15 px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#map {
  height:100vh;
  position: sticky;
  top: 0 ;
  padding-left: 10px;
}

.container {
  padding-top: 10px;
  display:flex;
  flex-direction: row-reverse;
  width: cover;
  padding-bottom: 10px;
 }

 .container_show {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // grid-template-columns: 1fr 1fr;
  width: fit-content;
  padding-bottom: 10px;
  margin-left: 30%;
 }
