.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
    color: #4e647b;
    color: black !important;
    font-size: 20px;
}
