<%# BANNER %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d18lkz4dllo6v2.cloudfront.net/cumulus_uploads/entry/2018-08-16/Urinals.jpg?pw=1200);">
  <div class="container">
    <h1>People in <strong>Search</strong> of <strong>Safe Restroom</strong>!</h1>
    <p>Change your life and find where to pee fast.</p>
    <a class="btn btn-gradient" href="#">Create your account now 💦 </a>
  </div>
</div>
<div class="container">
  <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoicGllcnJpY2sxMTIyIiwiYSI6ImNsMnVlenBjNzAxZW0zZG96ZmVsa3hvMTMifQ.VdN2bQ6VRMmZVMzdwAp-UA'>
  <div class="cards">
      <% @toilets.each do |toilet| %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%=toilet.name%></h2>
            <p><%=toilet.location%></p>
            <strong><%=toilet.price%> Euros</strong> </p>
          </div>
        </div>
      <% end %>
  </div>
</div>
