<% @toilets.each do |toilet| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
       <h2><%=toilet.name%></h2>
       <p><%=toilet.location, toilet.category%><strong><%=toilet.price%></strong> </p>
    </div>
  </div>
<% end %>
