<%# CARD TRIP %>
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%=@toilet.name%></h2>
      <p><%=@toilet.description%></p>
      <p><%=@toilet.location%></p>
    </div>
    <h2 class="card-trip-pricing">€<%=@toilet.price%></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
