.navbar-lewagon {
  justify-content: space-between;
  background: white;
  color: black !important;
  font-size: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: black !important;

}

.navbar-lewagon .navbar-brand img {
  width: 94px !important;
}
